body {
  background-color: white;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial;
  margin: 0rem 25rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

form {
  justify-content: center;
  text-align: center;
}

.listArea {
  text-align: left;
}

.status:checked + span {
  text-decoration: line-through;
}

ul {
  line-height: 1em;
  font-size: 1em;
  border-radius: 2px;
}

li {
  list-style: none;
}
